{% extends 'layout.njk' %}

{% block content %}

    <style>
        #headerSeperator {
            height: 4.6em !important;
        }
    </style>

    <div>
        <lpTitle>RL</lpTitle>
        <lpCornerBox :style="max-width:500px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Kdaj: <b>19. 2. 2021</b><br/></div>
            <div>Zbiranje igralcev: <b>16.00</b><br/></div>
            <lpSporedSep></lpSporedSep>
            <div>Začetek: <b>16.30</b><br/></div>
            <lpSporedSep></lpSporedSep>

        </div></lpCornerBox>
    </div>

    <div>
        <lpTitle>LOL</lpTitle>
        <lpCornerBox :style="max-width:500px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Kdaj: <b>20. 2. 2021 - 21. 2. 2021</b><br/></div>
            <div>Zbiranje igralcev: <b>16.00</b><br/></div>
            <lpSporedSep></lpSporedSep>
            <div>Začetek: <b>16.30</b><br/></div>
            <lpSporedSep></lpSporedSep>

        </div></lpCornerBox>
    </div>

    <div>
        <lpTitle>Valorant</lpTitle>
        <lpCornerBox :style="max-width:500px; margin: 0 auto">
        <div class="spored" style="text-align: center;" >

            <lpSporedSep></lpSporedSep>
            <div>Kdaj: <b>26. 2. 2021 - 27. 2. 2021</b><br/></div>
            <div>Zbiranje igralcev: <b>16.00</b><br/></div>
            <lpSporedSep></lpSporedSep>
            <div>Začetek: <b>16.30</b><br/></div>
            <lpSporedSep></lpSporedSep>

        </div></lpCornerBox>
    </div>
{% endblock %}